# Local project files
project_1/

# Cache files
rl_project_2023/rl_project_2023.cache/

# Jou files
*.jou

# Log files
*.log

# .DS_Store files
*.DS_Store
*/.DS_Store
**/.DS_Store


# Simulations
rl_project_2023/rl_project_2023.sim/*
rl_project_2023/rl_project_2023.sim/**


rl_project_2023/rl_project_2023.ip_user_files/README.txt
rl_project_2023/hs_err_pid14908.dmp


#str pid files
rl_project_2023/*.str




